<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mapa de Dangeo Mystic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <header>
        <h1><img src="{{ url_for('static', filename='compass.png') }}" alt="Ícone de bússola"> Mapa de <span>Dangeo Mystic</span></h1>
    </header>
    <main>
        <div class="map-container">
            {{ mapa_html|safe }}
        </div>
    </main>
</body>
</html>
