<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dangeo Mystic</title>
    <style>
        body {
            font-family: Georgia, serif;
            background-color: #111;
            color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            font-size: 2.5em;
            margin-top: 20px;
        }
        #map {
            width: 100%;
            height: 90vh;
            margin-top: 10px;
            border: 4px solid #222;
        }
    </style>
</head>
<body>
    <h1>🌍 Bem-vindo ao Mundo de <span style="color:gold;">Dangeo Mystic</span></h1>
    <div id="map">{{ map_html|safe }}</div>
</body>
</html>